body {
	border-left: 20px solid #4ca3dd;
}




#topNav {
	margin-left: 96px;
}


.collection-type-gallery #slideshowWrapper {
	margin-bottom: 120px;
}

.collection-type-gallery .meta {
/*
	position: static;
	top: inherit;
	bottom: inherit;
	left: inherit;
*/

	bottom: 0px;
	left: inherit;
	right: 40px;
	width: 100%;
	
	text-align: right;
	
}


.collection-type-gallery .meta .gallery-controls#dotControls,
.collection-type-gallery.enable-gallery-thumbnails .thumbnail-toggle {
	display: inline-block;
}