body {
	border-left: 20px solid #4ca3dd;
}




#topNav {
	margin-left: 96px;
}


.collection-type-gallery #slideshowWrapper {
	margin-bottom: 120px;
}

.collection-type-gallery .meta {
/*
	position: static;
	top: inherit;
	bottom: inherit;
	left: inherit;
*/

/*
	bottom: 0px;
	left: inherit;
	right: 40px;
	width: auto;
*/
	
}


.collection-type-gallery .meta .gallery-controls#dotControls,
.collection-type-gallery.enable-gallery-thumbnails .thumbnail-toggle,
.collection-type-gallery .meta .gallery-controls#dotControls .dot {
	display: inline-block;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 0px;
	height: 20px;
	vertical-align: middle;
}


.collection-type-gallery .meta .gallery-controls#dotControls,
.collection-type-gallery.enable-gallery-thumbnails .thumbnail-toggle


.collection-type-gallery.enable-gallery-thumbnails .thumbnail-toggle {
	margin-right: 40px;
}


.collection-type-gallery .meta .gallery-controls#dotControls .dot {
	font-size: 42px;
}