body {
	border-left: 20px solid #4ca3dd;
	padding-bottom: 40px;
}


#canvasWrapper {
	max-width: none;
}



/* Main Navigation */
#topNav {
	margin-left: 96px;
}




/* Project Slideshow */
.collection-type-gallery .meta {
	bottom: 10px;
	left: inherit;
	right: 54px;
	width: auto;	
}


.collection-type-gallery .meta .gallery-controls#dotControls,
.collection-type-gallery.enable-gallery-thumbnails .thumbnail-toggle,
.collection-type-gallery .meta .gallery-controls#dotControls .dot {
	display: inline-block;
	line-height: 20px;
	margin-top: 0px;
	padding-top: 0px;
	height: 20px;
	vertical-align: top;
}

.collection-type-gallery.enable-gallery-thumbnails .thumbnail-toggle {
	margin-right: 40px;
}

.collection-type-gallery .meta .gallery-controls#dotControls {
	margin-top: -4px;
}

.collection-type-gallery .meta .gallery-controls#dotControls .dot {
	font-size: 42px;
	padding: 0 0 0 2px;
}